name: Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Generate Documentation
        run: |
          swift package --allow-writing-to-directory ./Documentation \
          generate-documentation --target CompositionalLayoutDSL \
          --disable-indexing \
          --transform-for-static-hosting \
          --hosting-base-path /CompositionalLayoutDSL \
          --output-path ./Documentation
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: docs
          publish_dir: ./Documentation
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
